.topbarContainer{
    min-height: 50px;
    width: 100%;
    background-color: #b5121b;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-around;
    
}
.topbarLeft{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topbarLeft img{
    margin-left: 4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.logo{
    font-size: 15px;
    margin-left: 20px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 0;
    overflow-wrap:break-word;
}
.topbarCenter{
    /* flex: 5; */
    width: 35%;
}
.searchbar{
    width: 100%;
     height: 30px;
     background-color: white;
     border-radius: 30px;
     display: flex;
     align-items: center;
}
.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}
.searchInput{
    border: none;
    width: 100%;
    padding-right: 10px;
}
.searchInput:focus{
    outline: none;
}
.topbarRight{
    display: flex;
    align-items: center;
    color: white;
    width: 35%; 
    gap: 2px;
    justify-content: space-around;
}
.topbarLinks a{
    margin-right: 7px;
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: overline;
    font-weight: bold;
    overflow-wrap: break-word;
}
.topbarLinks a:hover{
    color: #9f7878;
}
.topbarIcons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}
.topbarIconItem{
    position: relative;
    top: 2dvh;
    width: fit-content; 
   height: auto;
    align-items: center;
    justify-content: center;
}
.iconedite{
    color: #ffffff;
    width: 20px;
    height: 30px;
    cursor: pointer;
    margin: 1px auto;
}
.iconedite:hover{
    color: #9f7878;
}
.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -1px; right: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
}
.topbarImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.notification-panel{
    position: fixed;
    top: 8.1vh; right: 0.5vw;
    width: 35vw; height: 80vh;
    bottom: 5rem;
    background-color: rgb(91, 15, 15);
    overflow-y: scroll;
}
.btn-noti{
    outline: none; font-size: small;
    margin-left: 1px; border-radius: 2px;
    font-style: italic;
    border: 0px; color: rgb(238, 2, 14);
}
.n-head{
    text-align: center;
    text-transform: uppercase;
    font-family: serif;
    overflow-y: scroll;
    
}
.n-body{
    display: flex;
    flex-direction: column;
}


@media (max-width: 480px) {
    .topbarContainer{
        align-items: center;
    }
    .searchbar{
       display: none;
    }
    .topbarLeft{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
    .topbarCenter{
        display: none;
    }
    .topbarRight{
        width: 50%;
        justify-content: space-around;
    }
    .topbarIcons{
        width: 50%;
    }
    .topbarLinks a{
        margin-right: 6px;
        font-size: 10px;
        overflow-wrap: break-word;
    }
    .topbarLeft img{
        margin-left: 4px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
    .topbarImage{
        display: none;
    }
 }
 /* .topbarRight{
    display: flex;
    align-items: center;
    color: white;
    width: 35%; 
    justify-content: space-around;
} */