@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Merriweather:wght@700&family=Pacifico&family=Roboto+Slab:wght@700&display=swap');
/* font-family: 'Bitter', serif;
font-family: 'Merriweather', serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto Slab', serif; */

.topbarContainer{
    min-height: 50px;
    width: 100%;
    background-color: #b5121b;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-around;
    
}
.topbarLeft{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topbarLeft img{
    margin-left: 4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
.logo{
    font-size: 22px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    margin-left: 5px;
    overflow-wrap:break-word;
    text-shadow: 1px 1px 2px rgb(8, 8, 8);
}
.topbarLinks{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
    font-family: 'Merriweather', serif;
}
.topbarLinks a:hover{
    color: #9f7878;
}

.topbarLink{
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: overline;
    font-weight: bold;
    transition: all .4s ease;
}
.topbarhan{
    margin-right: 7px;
    font-size: 19px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: overline;
    font-weight: bold;
    transition: all .4s ease;
    overflow-wrap: break-word;
}
.topbarRight{
    display: flex;
    align-items: center;
    color: white;
    width: 25%; 
    justify-content: space-around;
}
.topbarIcons{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.1em;
    width: 78%;
}
.topbarIconItem{
    position: relative;
    top: 1dvh;
    width: 20%; 
    padding: 2px 5px;
    height: auto;

}
.iconedite{
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    margin: auto;
    align-self: center;
}
.iconedite:hover{
    color: #9f7878;
}
.topbarIconBadge{
   max-width: 30px;
    max-height: 30px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -2px; right: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding: 3px;
    font-weight: 700;
}
.topbarImage{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid red;
}
.topbarImage:hover{
    box-shadow: rgba(2px, 2px, 1px, 0.4);
}



@media (max-width: 480px) {
   .topbarLinks{
    display: none;
   }
   .topbarLeft{
    width: 40%;

   }
   .topbarLeft img{
    display: none;
   }
   .logo{
    font-size: 10px;
   }
   .topbarRight{
    width: 50%;
   }
   .topbarIcons{
    width: 80%;
   }
   .iconedite{
    font-size: 22px;
   }
   .topbarIconItem{
    width: fit-content;
   }
 }
