.chatmainall{
    flex: 8.5;
    width: 100%;
    height: calc(100dvh - 50px);
    padding: 1em;
    border-left: 3px dashed #030303;
}

.chatmaincontent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chatcontenthead{
    width: 90%; 
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 0.2em 0.1em;
    border-top: 2px dashed black;
}
.chatcontenthead .left{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding-bottom: 0.1em;
    background: transparent;
}
.left .text{
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 0.2rem 0.1rem;
}
.text .span{
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.left .text span:nth-child(2){
    font-size: 13px;
    font-style: italic;
    display: flex;
   justify-content: center;
}
.chatcontenthead .right{
    display: flex;
    width: 48%;
    justify-content:flex-end;
    align-items: flex-end;
    margin-right: 0.6em;
    gap: 1.2em;
}
.right .one{
    border: 2px solid #c0c0c0;
    border-radius: 50%;
    padding: 3px;
    transition: all .3s ease;
    color: #b5121b;
    font-size: 35px;
    fill: #b5121b;
}
.right .one:hover{
    background-color: #c0c0c0;
    color: #121111;
}
.chatcontenthead img{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    object-fit: cover;
}
.chatcontenthead span{
    padding: 5px;
    margin-bottom: -5px;
    background-color: #c0c0c0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.chatbox{
    width: 90%;
    height: 80dvh;
    overflow-y: scroll;
    background-color: #959393;
    margin: 1px auto;
    gap: 0.2em;
    border-radius: 6px;
    padding: 0.1rem 0.5rem 0px 0.5rem;
    position: relative;
    box-shadow: 8px 30px 48px 6px rgba(206,204,204,0.75);
    -webkit-box-shadow: 8px 30px 48px 6px rgba(206,204,204,0.75);
    -moz-box-shadow: 8px 30px 48px 6px rgba(206,204,204,0.75);
}
.chatbox::-webkit-scrollbar{
    display: none;
}
.chatdate{
    width: 100%; 
    height: max-content; 
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    position: sticky; top: 0;
    z-index: 6516;
}
.chatdate span{
    background-color: #ebe8e8;
    padding: 2px 5px; 
    border-radius: 3px;
    font-size: 15px;
}
.chatsend{
    position: sticky;
    bottom: 0;
    width: 100%;
    height: auto;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    
}
.chatsend-div{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #ebe8e8;
    height: auto;
    bottom: -2px;
}
#messagewrite{
    resize: none;
    width: 60%; 
    max-height: 35px;
    padding-left: 10px; 
    overflow-y: scroll;
    font-size: 20px;
    background-color: #ebe8e8;
    border: none;
    transition: all .5s ease;
}
#messagewrite::placeholder{
    color: #121111;
}
#messagewrite:focus, #messagewrite:not(:placeholder-shown){
    max-height: 65px; 
    outline: none;  
}
#messagewrite::-webkit-scrollbar{
    width: 0px;
}
.send-icon{
    color: #b5121b;
    border: 2px solid #c0c0c0;
    border-radius: 50%;
    align-self: flex-end;
    padding: 2px;
    font-size: 30px;
    margin: 0px 0px 4px 0px;
    font-weight: bold;
    transition: all .3s ease;
}
.send-icon:hover,.chat-tools .chat-icon:hover{
    background-color: #c0c0c0;
    color: #121111;
    transform: scale(1.1);
}
.chat-tools{
    display: flex;
    align-self: flex-end;
    width: 20%;
    justify-content: space-around;
    padding: 4px 0px 4px 0px;
}
.chat-tools .chat-icon{
    border: 2px solid #c0c0c0;
    border-radius: 50%;
    padding: 2px;
    transition: all .3s ease;
    color: #b5121b;
}
.back{
    display: none;
}
@media screen and (max-width: 767px){
    .chatmainall{
        padding: 0.2em;
        border-left: none;
    }
    .chatcontenthead{
        width: 100%; 
         align-items: center;
        padding: 0.1rem 0.1em;
        border-top: 2px dashed black;
    }
    .chatbox{
        width: 100%;
        height: 90dvh;
        overflow-y: scroll;
        background-color: #959393;
        margin: 1px auto;
        gap: 0.2em;
        border-radius: 6px;
        padding: 0.1rem 0rem 0px 0rem;
    }

    .chatcontenthead img{
        width: 33px;
        height: 33px;
        border-radius: 50%;
        object-fit: cover;
    }
    .back{
        display: flex;
    }
    .left .text{
        padding: 0;
    }
    .text .span{
     font-size: 12px;
    } 
    .right .one{
        border: 2px solid #4f1c1c;
        border-radius: 50%;
        padding: 2px;
        font-size: 30px;
        fill: #b5121b;
    }
    #messagewrite{
        max-height: 35px;
        padding-left: 5px; 
        font-size: 14px;
    }
    .chat-tools{
        display: flex;
        align-self: flex-end;
        width: 25%;
        justify-content: space-around;
        padding: 4px 0px 4px 0px;
    }
    .chat-tools .chat-icon{
         font-size: 25px;
        padding: 1px;
        transition: all .3s ease;
        color: #b5121b;
    }
    .send-icon{
        font-size: 25px;
   
    }
 }