*{
    box-sizing: border-box;
    margin: 0;
}
.stafflog{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background-image: url(/public/assets/SavedPictures/lancaster5.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}
.staWrapper{
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 6px;
    margin: 1px auto;
    background-color: rgba(24, 15, 15, 0.5);
}
.staloginfill{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 5px auto;
    justify-content: center;
    gap: 0.2em;
}
.staloginfill div{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.staloginfill input{
    width: 100%;
    min-height: 20px;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    color: #ffffff;
    padding: 5px;
}
.staidinput::-webkit-inner-spin-button,.stuidinput::-webkit-outer-spin-button{
    appearance: none;
    margin: 0;
}
.staloginfill input:focus{
    outline: none;
    background-color: #ffffff;
    border-radius: 5px; 
    color: black;
}
.staloginfill label{
    color: #ffffff;
    font-size: 20px;
}
#staformsubmit{
    background-color: #b5121b;
    color: #ffffff;
    letter-spacing: 1.5px;
    font-style: italic;
    margin-top: 20px;
    border: 0px solid;
    padding: 5px 2px;
}