.sidebar{
    flex: 2;
    height: calc(100vh - 50px);
    width: 100%;
    overflow-y: scroll;
}

.sidebar-Wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    margin-left: 0.5em;
    margin-top: 2.5em;
    width: 100%; 
    height: auto;
}
.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    position: relative;
}
.sidebarListItem button{
    cursor: pointer;
    font-size: 19px;
    border: none;
    border-radius: 5px;
}
.sidebarListItem button:hover{
    background-color: #444;
    color: #ffffff;
    border-radius: 5px;
}
.sidebarIcon{
    margin-right: 15px;
    color: #b5121b;
    width: 25px;
    height: 25px;
}
.sidebarButton{
    width: 130px;
    border: none;
    background-color: #b5121b;
    border-radius: 0.5em;
    padding: 5px;
    font-weight: 400;
    color: #ffffff;
    align-self: center;
}
.sidebarHr{
    width: 100%;
    height: 4px;
    color: #b5121b;
}
.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}
.sidebarFriend img{
    width: 32px;
    height: 32px;border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.course-wrapper{
    position: relative;
    top: 0; left: 0;
}
.course-wrapper::after{
    content: "corses";
    width: 5px; height: 5px;
    position: absolute;
    top: 10px; left: 5px;
}

@media (max-width: 480px) {
    .sidebar{
        display: block;
        position: fixed;
        left: 0;
        background-color: #120505;
        z-index: 454654;
    }
    .sidebar-Wrapper{
        gap: 1em;   
        margin: 1em 0em 0em 0.5em;
    }
    .sidebarIcon{
        margin-right: 15px;
        color: #f4eeef;
        width: 25px;
        height: 25px;
    }
    .sidebarListItem button:hover{
        background-color: #a40d0d;
        color: #ffffff;
        padding: 4px 2px;
        border-radius: 5px;
    }
}
/* @media (min-width: 487px) {
    .sidebar{
        display: block;
    }
    
} */