*{
    box-sizing: border-box;
    margin: 0;
}
.studentlog{
    width: 100vw;
    height: 100vh;
    padding: 0.5rem;
    overflow-y: hidden;
    background-image: url(/public/assets/SavedPictures/lancaster5.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}
.stuWrapper{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    background-color: rgba(24, 15, 15, 0.5);
}
.stuloginfill{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 95vh;
    margin: 1px auto;
    justify-content: center;
    gap: 0.25em;
}
.stuloginfill div{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.stuloginfill input{
    width: 100%;
    min-height: 20px;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    color: #ffffff;
    padding: 5px;
}
.stuidinput::-webkit-inner-spin-button,.stuidinput::-webkit-outer-spin-button{
    appearance: none;
    margin: 0;
}
.stuloginfill input:focus{
    outline: none;
    background-color: #ffffff;
    border-radius: 5px; 
    color: black;
}
.stuloginfill select:focus{
    outline: none;
}
.stuloginfill label{
    color: #ffffff;
    font-size: 20px;
}
#stuformsubmit{
    background-color: rgba(181, 18, 26, 0.94);
    color: #ffffff;
    letter-spacing: 1.5px;
    font-style: italic;
    text-decoration: none;
    margin-top: 20px;
    border: 0px solid;
    border-radius: 0.6em;
    padding: 5px 4px;
}
#stuformsubmit:hover{
    border:2px solid #ffffff;
    background-color: rgba(181, 18, 26, 0.5);
}
.stuloginfill input::placeholder{
    color: aliceblue;
}