.book{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 1px auto;
    width: 80%;
    padding: 8px;
}
.topinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
}
.topinfo span{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bookcontainer img{
    width: 100%;
    max-height: 250px;
    object-fit: contain;
}
.bookcontainer{
    border: 1px solid #444;
    height: auto;
    width: 50%;
    box-shadow: -11px 10px 23px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -11px 10px 23px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 10px 23px 5px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.bookinfo{
    padding: 7px;
    display: flex;
    align-items: center;
    width: 70%;
    padding: 7px;
    margin-top: 15px;
}
.bookorder{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; height: auto;
    justify-content: space-around;
    padding: 0; margin: 0;
    padding-bottom: 3px;
}
.like{
    width: 25px;
    height: 25px;
    color: #b5121b;
}
.btnorder{
    background-color: #b5121b;
    border: none;
    border-radius: 4px;
    padding: 5px 3px;
    color: #ffffff;
}
.bookorder span{
    display: flex;
    align-items: center;
    gap: 5px;
}