*{
    box-sizing: border-box;
}
.activedisplay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 7px;
    cursor: pointer;
    padding: 3px 0px 3px 0px;
    border-radius: 6px ;
}
.activedisplay:hover{
    background-color: #b5121b;
    color: #ffffff;
    font-size: large;
}
.active img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.active{
    position: relative;
}
.activesign{
    width: 8px;
    height: 8px;
    background-color: #1d1c1c;
    border-radius: 50%;
    position: absolute;
    top: 0px; right: 0px;
}