@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Pacifico&family=Roboto+Slab:wght@700&display=swap');

/* font-family: 'Merriweather', serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto Slab', serif; */
.share{
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: center;  
}
.shareWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    border: 0px solid;
    width: 98%;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 1px 1px 8px 4px rgba(130,117,117,0.91);
    -webkit-box-shadow: 1px 1px 8px 4px rgba(130,117,117,0.91);
    -moz-box-shadow: 1px 1px 8px 4px rgba(130,117,117,0.91);
}
.shareTop{
    display: flex;
    width: 100%;
    align-items: center;
}
.shareTop img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 6px;
}
.shareTop input{
    width: 80%;
    height: 21px; 
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}
.shareTop input:focus{
    outline: none;
}
.shareBottom{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.shareBottom button{
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 5px;
    color: #ffffff;
    background-color: rgba(201, 11, 21, 0.7);
    font-size: 15px;
    letter-spacing: 1px;
}
.shareBottom button:hover{
    background-color: #b5121b;
    font-size: 16px;
}

.port-contain{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 1px auto;
    background-color: transparent;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 56456;
}
.add{
    position: relative;
    width: 42vw;
    height: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    background-color: #324147;
    border: 3px solid #b5121b;
    border-radius: 0.6em;
    padding: 1em;
    margin-top: -10px;
    font-family: 'Merriweather', serif
}
.add textarea{
    width: 100%;
    resize: none; 
    outline: none;
    background: transparent;
    padding: 0.6em;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 0.3em;
}
.add h3{
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    letter-spacing: 4px;
}
.add .close{
    position: absolute;
    top: 2px;
    right: 2px;
    border: none;
    outline: none;
    border-radius: 0.3em;
}
.file-taker{
    display: flex;
  justify-content: space-around;
    width: 100%;
}
.file-taker input{
    border: none;
    outline: none;
    border-radius: 0.3em;
    color: #3a2325;
    font-size: 15px;
}
.file-taker button{
    border: none;
    outline: none;
    border-radius: 0.3em;
    font-size: 15px;
}