.person{
    flex: 6;
    padding: 1em;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: relative;
}
.person-wrapper{
    padding: 0.4em;
    width: 100%;
    position: relative;
    height: calc(100vh - 50px);
    background-color: rgb(213, 221, 221, 0.1);
}
.images{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.cover{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center 5%;
    border-radius: 0.4em;
}
.profilepic{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 185px;
    left: 0;
    right: 0;
    margin: auto;
    border: 4px solid #b51212;
}
.profile-container{
   height: 135px;
   padding: 0.32em;
}
.user-info{
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    height: 100%;
}
.person-name{
    align-self: flex-end;
    font-family: 'Roboto Slab', serif; 
    font-size: large;
    text-shadow: 1px 1px 2px rgb(197, 196, 196);
    margin-bottom: -4px;
    min-width: 230px;
    text-align: center;
}
.user-handles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.user-handles a{
    text-decoration: none;
    color: rgb(56, 54, 56);
}
.abt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abt span:nth-child(1),
.abt span:nth-child(3){
    font-family: 'Merriweather', serif;
    font-size: medium;
    text-decoration: underline;
    letter-spacing: 1.5px;
    font-weight: bold;
}
.abt span{
    font-size: small;
    font-family: 'Roboto Slab', serif; 
}
.about-style{
    display: flex;
    flex-direction: column;
    border-radius: 0.4em;
    padding: 0px 0.3em;
    -webkit-box-shadow: -7px 4px 64px 7px rgba(237,237,237,1);
    -moz-box-shadow: -7px 4px 64px 7px rgba(237,237,237,1);
    box-shadow: -7px 4px 64px 7px rgba(237,237,237,1);
}
.abt-user p{
    font-size: small;
}
.log-out{
    margin-bottom: 5px;
    outline: 3.5px dashed #b51212;
    border: 2.2px dashed  #b51212;
    background:  #b51212;
    color: white;
    font-style: italic;
    padding: 0px 4px;
}


@media screen and (max-width: 377px){

    .images{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .cover{
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: center 5%;
        border-radius: 0.4em;
    }
    .profilepic{
        width: 110px;
        height: 110px;
        top: 100px;
        border: 3.5px solid #b51212;
    }
    .user-info{
        display: flex;
        flex-direction: row;  
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    .abt-user p{
        font-size: 12px;
        text-align: justify;
    }
    .person-name{
       text-align: center;
        font-size: 12.5px;
        text-shadow: 1px 1px 2px rgb(34, 34, 34);
        margin-bottom: -4px;
        min-width: 100px;
    }

    .user-handles{
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        height: 100%;
        font-size: 11px;
    }
    .abt span:nth-child(1),
    .abt span:nth-child(3){
        font-family: 'Merriweather', serif;
        font-size: 15px;
        text-decoration: underline;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .abt span{
        font-size: 12px;
        font-family: 'Roboto Slab', serif;  
    }

}